<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <script src="../../assets/angularjs/angular.js"></script>
    <script src="../../assets/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>
    <link rel="stylesheet" href="../../assets/bootstrap-3.3.5-dist/css/bootstrap.css" type="text/css"/>
    <link href="../../assets/css/style.css" rel="stylesheet">


    <title>Sign Up</title>
</head>
<body ng-app="myApp">
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="../../index.html">Sign In</a>
            <a class="blog-nav-item active" href="signup.html">Create Account</a>
        </nav>
    </div>
</div>
<div class="container" ng-controller="signupController">
    <div class="row">
        <div class="col-sm-12 blog-main">
            <div class="main-container">
                <form class="form-signup" role="form" ng-submit = "submit()">
                    <h2 class="form-signup-heading" id="login-greeting">Create New Account</h2>
                    <input type="text" name="username" ng-model="username" class="form-control" placeholder="Username" required="" autofocus="">
                    <input type="password" name="supassword" ng-model="password" class="form-control" placeholder="Password" required="">
                    <input type="email" name="email" ng-model="email" class="form-control" placeholder="Email" required="">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>Parse.initialize("yALz7vNO9fuoFoq54npm2CkFbF7TX96sduJsINse", "cDRWIAeN8HQYG1b1pUEc1gVtg5lNmsOTbNpEEXy4");</script>
<script src="../myApp.js"></script>
<script src="signup.js"></script>
</body>
</html>